################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Diagrams/bin
/Diagrams/obj
/packages
/_ReSharper.Caches
/Diagrams/Diagrams.csproj.user
/Sequence/bin/Debug
/Sequence/obj
