################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DotNetDiagrams/bin
/DotNetDiagrams/obj
/DotNetDiagrams.ConsoleUI/bin
/DotNetDiagrams.ConsoleUI/obj
/packages
/_ReSharper.Caches
/DotNetDiagrams/DotNetDiagrams.csproj.user
/DotNetDiagrams.ConsoleUI/DotNetDiagrams.ConsoleUIcsproj.user

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/